*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@font-face{
  font-family: 'strengthen';
  src: url('fonts/Strengthen.ttf');
}
/* Components */

#BackBTN{
  margin: 20px;
  width: 50px;
  height: 30px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
  animation: PopUp 0.5s ease-in-out;
  border: 2px solid #ffffff;
  background-color: #252525;
  border-radius: 5px;
}

#BackBTN svg{
  margin-top: 3px;
  height: 80%;
  fill: #ffffff; 
}


/* Character Cards */
.mini_player{
  width: 175px;
  height: 264px;
  background-size: cover;
  display: grid;
  grid-template-rows: 2% 75% 10% 1% 7%;
  grid-template-columns: 4% 67% 4% 18% 5% 2%;
  margin: 5px;
}

#playerimg{
  width: 100%;
  grid-row: 2 / 5;
  grid-column: 2 / 5;
  border-radius: 5% 5% 0% 0%;
}

#mini_player_card{
  grid-row: 1 / 7;
  grid-column: 1 / 6;
  height: 100%;
  width: 100%;
}

.mini_player p{
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
  -webkit-text-stroke: 1px #000;
}

#mini_player_club{
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  justify-self: center;
  align-self: center;
  z-index: 1;
  width: 90%;
}

.mini_player h3{
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 14px;
  margin-left: 1px;
  overflow: hidden;
  flex-wrap: wrap;
}

#element_icon{
  grid-row: 3/4;
  grid-column: 2/3;
  z-index: 5;
  height: 90%;
  margin-left: 2px;
}
/* */

/* News Cards */
.news{
  width: 400px;
  height: 280px;
  background-color: #252525;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  display: grid;
  grid-template-rows: 80% 15% 5%;
}

.news img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  grid-row: 1 / 2;
}

.news h3{
  grid-row: 2 / 3;
  font-size: 20px;
  color: #fefefe;
  text-align: left;
  align-self: center;
}

.news a{
  text-decoration: none;
  color: #fefefe;
  text-align: left;
  align-self: center;
}
/* */

/*    */

header{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 8%;
  height: 100%;
  background-color: #08070f;
  border-right: 1px solid #474747;
  box-shadow: 0px 0px 30px 0px #000000;
}

nav{
  width: 100%; 
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#logo img{
  height: 60px;
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  list-style: none;
}

nav li{
  text-decoration: none;
}

#terms_of_use{
  display: flex;
  justify-content: center;

}

header svg{
  fill: #474747;
  width: 40px;
}

header svg.active{
  fill: #68afad;
}

#background {
  width: 110%;
  height: 110%;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: url('img/other/bg.png');
  filter: blur(5px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  z-index: -1;
  animation: zoomAnimation 0.5s ease-in-out;
}

@keyframes zoomAnimation {
  0% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1);
  }
}

#background_svg{
  width: 110%;
  height: 110%;
  position: fixed;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(81,939,465)'%3E%3Cstop offset='0' stop-color='%23FEFEFE'/%3E%3Cstop offset='1' stop-color='%23FEFEFE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  animation: BuilderBG 1s ease-in-out;
}

@keyframes BuilderBG {
  0% {
    transform: scale(.95);
    filter: brightness(0);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

/* Homepage */
#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  width: 100%;
}

#searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#searchbar input{
  width: 30vw;
  height: 50px;
  border-radius: 10px;
  background-color: #252525;
  border: 0;
  padding: 5px;
  color: #fefefe;
  font-size: 15px;
  border: 1px solid #fefefe;
}

#searchbar button{
  width: 50px;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  background-color: #252525;
  border: 0;
  color: #fefefe;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

#home_players_list{
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#news_titel{
  margin-top: 50px;
}
/* */

/* Players */
#players{
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  animation: PopUp 0.5s ease-in-out;
}

#big_player_container{
  display: flex;
  margin-left: 4vw;
  width: 40vw;
  height: 100%;
}

#big_player{
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: -1;
}

#big_player_img{
  width: 21%;
  border-radius: 5px;
}

.players_extra{
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fefefe;
  -webkit-text-stroke: 2px #000;
}

.players_extra img{
  width: 50px;
  height: 50px;
}

#players_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55vw;
  color: #fefefe;
  animation: PopUp 0.75s ease-in-out;
}

.players_position{
  margin: 10px;
}

.players_position h1{
  font-size: 40px;
  -webkit-text-stroke: 3px #000;
}

.position_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.player{
  width: 150px;
  height: 225px;
  display: grid;
  grid-template-rows: 75% 25%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #161616;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23B3B3B3' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23909090'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#player_img{
  width: 150%;
  grid-row: 1 / 2;
  z-index: 1;
  justify-self: center;
}

#player_Name{
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #e0e0e0;
  color: #202020;
  z-index: 2;
}

@keyframes PopUp {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* */

/* Squad Builder */
.build_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#builder{
  background-image: url('img/other/Soccerfield.png');
  background-size: cover;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-rows: 28% 23% 23% 23%;
  grid-template-columns: 100%;
  color: #fefefe;
  text-align: center;
  margin-top: 20px;
  animation: PopUp 0.75s ease-in-out;
}

#GK{
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#DF{
  width: 90%;
  margin: 0 auto;
  grid-row: 3 / 4;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 4;
}

#MF{
  width: 80%;
  margin: 0 auto;
  grid-row: 2 / 3;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 3;
}

#FW{
  width: 70%;
  margin: 0 auto;
  grid-row: 1 / 2;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 2;
}

#searchMenu{
  width: 100vw;
  height: 100vh;
  padding: 0 10vw 10vw;
  position: fixed;
  display: flex;
  background-color: #000000;
  z-index: 1000;
  text-align: center;
  color: #fefefe;
  flex-wrap: wrap;
  overflow: hidden;
}

#dropdown{
  margin: 100px 50px;
  user-select: none;
  align-self: normal;
}

#dropdown select{
  font-family: strengthen;
  background-color: transparent;
  border-radius: 10px;
  border: 0;
  color: #545454;
  font-size: 100px;
  height: 20%;
  user-select: none;
}

#dropdown option{
  font-family: strengthen;
  background-color: #fefefe;
  color: #545454;
  font-weight: bold;
  text-align: center;
  user-select: none;
  pointer-events: none;
}

/*  */

/* Moves */
#moves_container{
  display: flex;
  width: 100vw;
  align-items: center;
  min-width: 750px;
  flex-direction: column;
  overflow: hidden;
}


#moves_searchbar{
  display: flex;
  margin-top: 20px;
}

#moves_searchbar input{
  width: 30vw;
  height: 50px;
  border-radius: 5px;
  background-color: #252525;
  color: #fefefe;
  border: 0;
  padding: 5px;
  font-size: 15px;
}

#moves_list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  flex-direction: column;
}

.moves{
  display: flex;
  position: relative;
  align-items: center;
  height: 67px;
  width: 600px;
  margin: 5px;
  color: #fefefe;
  transition: 1.5s;
}

.moves:hover{
  transition-delay: .2s;
  transform: scale(2);
  margin: 50px;
  cursor: pointer;
}

#element_banner{
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.moves h3{
  margin: 20px;
  font-size: 40px;
  font-weight: lighter;
}

.moves img{
  width: 25px;
}

.moves iframe{
  width: 20%;
  height: 100%;
  margin-left: auto;
  cursor: pointer;
}

/* */

/* News */
#news{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
/* */


/* New Homepage */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.scroll_container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#home_bg{
  width: 105%;
  height: 105%;
  position: fixed;
  background-image: url('img/other/bg.png');
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  animation: zoomoutAnimation 0.5s ease-in-out;
}

@keyframes zoomoutAnimation {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#home_main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 60%;
}

#home_main a{
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
}

#home_main div{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.home_class_text{
  display: flex;
  text-align: center;
  color: #08070f;
  background: rgb(254,254,254);
  background: linear-gradient(0deg, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 95%, rgba(254,254,254,0) 100%);
  width: 100%;
  height: 5.5vw;
  align-self: flex-end;
}

.home_class_text h1{
  font-size: 1.5vw;
  margin-top: 2vw;
}

#home_players{
  height: 100%;
  width: 30%;
  background-color: #FEFEFE;
  margin: 1.5%;
  justify-content: end;
  align-items: center;
  background-image: url('img/other/nr1.png');
  background-position: 55%;
  background-size: cover;
  transition: 0.3s;
}

#home_players:hover{
  transform: scale(1.1);
}

#home_builder{
  height: 100%;
  width: 30%;
  background-color: #FEFEFE;
  margin: 1.5%;
  justify-content: end;
  align-items: center;
  background-image: url('img/other/TeamBuilder.jpg');
  background-size: 44vw;
  background-position: 44% 24.5vw;
  transition: 0.3s;
}

#home_builder:hover{
  transform: scale(1.1);
}

#home_vertical{
  height: 100%;
  width: 30%;
  margin: 1.5%;
  flex-direction: column;
  justify-content: space-between;
}

#home_moves{
  height: 47%;
  width: 100%;
  background-color: #FEFEFE;
  justify-content: end;
  align-items: center;
  background-image: url('img/other/FireTornado.jpg');
  background-position: 0% -4vw;
  background-size: cover;
  transition: 0.3s;
}

#home_moves:hover{
  transform: scale(1.1);
}

#home_news{
  height: 47%;
  width: 100%;
  background-color: #FEFEFE;
  justify-content: end;
  align-items: center;
  background-image: url('img/other/news.png');
  background-position: 50%;
  background-size: cover;
  transition: 0.3s;
}

#home_news:hover{
  transform: scale(1.1);
}

#noPage{
  margin-left: 8%;
}